.header1 {
  width: 100%;
  background: white;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 20px 100px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
}

.navList li {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}

.arrow {
  width: 15px;
  transform: rotate(-90deg);
  padding: 2px 5px 0px 0px;
}
