.header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.5rem;
  border-bottom: 1px solid #e6e6e6;
  font-family: "Inter", Arial, sans-serif;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Left Section */
.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  margin-left: 3.98rem;
  height: 55px;
  width: auto;
  cursor: pointer;
}

/* Orange pill */
.personalBtn {
  background: #ff8a00;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.9rem 1.1rem;
  margin-left: 60px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.25s ease;
}

.personalBtn:hover {
  background: #e67900;
}

/* Navigation */
.nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  align-items: center;
}

.nav li {
  color: #2c2a29;
  cursor: pointer;
  transition: color 0.2s ease;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.nav li:hover {
  color: #ff8a00;
}

.nav li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav li button:hover {
  color: #ff8a00;
}

/* LOGIN BUTTON (PNG IMAGE) */
.loginBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.loginImg {
  width: 99px;
  height: 47px;
  display: block;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 1024px) {
  .nav ul {
    gap: 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 850px) {
  .nav {
    display: none;
  }
}
