.cardContainer {
  padding: 20px;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: 600;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.primaryBtn {
  margin-top: 20px;
  background-color: #2e2182;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 15px;
  cursor: pointer;
}

.centerScreen {
  text-align: center;
  margin-top: 100px;
}

.successCircle {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, #ff8a00, #ffcc80);
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkMark {
  font-size: 36px;
  color: white;
  font-weight: bold;
}
