.screen{
    padding: 20px;
    font-family: Inter, sans-serif;
}

/* header */
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 28px;
}

.backBtn{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.headerTitle{
    font-size: 18px;
    font-weight: 600;
    color: #2f2f52;
}

/* text */
.label{
    font-size: 16px;
    font-weight: 600;
    color: #2f2f52;
}
.sublabel{
    font-size: 13px;
    color: #8a8a9b;
    margin-bottom: 10px;
}

/* number plate */
.platBox{
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 8px;
    color: #d0d0d0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* fuel */
.fuelRow{
    display: flex;
    gap: 16px;
    margin-top: 12px;
}
.fuelCard{
width: 80px;
height: 82px;
background: #f4f4f7; 
border-radius: 14px; 
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 
cursor: pointer; 
}
.fuelSelected{
    outline: 3px solid #512fcd;
}
.fuelIcon{
    font-size: 22px;
}
.fuelSmall{
  font-size: 13px;
  margin-top: 6px;  
}

/* payment*/
.paymentRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}
.paymentLeft{
    display: flex;
    gap: 12px;
    align-items: center;
}

.paymentIcon{
    width: 22px;
}
.paymentTitle{
    font-size: 16px;
    font-weight: 600;
}
.paymentSubtitle{
    font-size: 13px;
    color: #8a8a9b;
}
.addBtn{
    background: none;
    border: none;
    color: #3a3ad9;
    font-weight: 600;
    cursor: pointer;
}
.divider{
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px;
}

/* toggle */
.toggleRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggleLeft{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.bellIcon{
    width: 20px;
}
.toggleSubtitle{
    font-size: 13px;
    color: #8a8a9b;
    width: 220px;
}

/* switch */
.switch{
    position: relative;
    width: 44px;
    height: 22px;
    display: inline-block;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider {
  background-color: #512fcd;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* ---- SAVE BUTTON ---- */
.saveBtn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #4d2ed9, #7353f0);
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}



    
    
    