/* PAGE */
.container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  text-align: center;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 19px;
  box-shadow: 0px 1px 3.9px rgba(243, 111, 33, 0.1);
}

.backIcon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  cursor: pointer;
}

.headerText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #1e196b;
  letter-spacing: -2%;
}

/* SUCCESS IMAGE */
.successImage {
  width: 210px;
  margin-top: 120px;
}

/* TEXT */
.title {
  margin-top: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #1e196b;
  letter-spacing: -2%;
}

.subtitle {
  margin-top: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  color: #656565;
  letter-spacing: -2%;
}

/* BUTTON */
.homeButton {
  margin-top: 60px;
  width: 113px;
  height: 26px;
  border: none;
  border-radius: 30px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;

  cursor: pointer;
  background: linear-gradient(90deg, #3129ab 0%, #1e196b 78%);
}
