/* PAGE */
.container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

/* HEADER */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  box-shadow: 0px 1px 3.9px rgba(243, 111, 33, 0.1);
}

.backIcon {
  width: 16px;
  height: 15px;
  cursor: pointer;
}

.headerCardIcon {
  width: 18px;
  height: 12px;
  margin-bottom: 1px;
  margin-left: 10px;
}

.headerText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: #1e196b;
  margin-left: 5px;
}

/* FORM WRAPPER */
.formWrapper {
  width: 288px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* LABEL */
.label {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  color: #1e196b;
  margin-right: 73%;
  margin-bottom: 6px;
}

/* INPUT BOX */
.inputBox {
  width: 288px;
  height: 28px;
  background: #ffffff;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #ededed;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  box-sizing: border-box;

  box-shadow: 2px 2px 4px rgba(243, 111, 33, 0.1);
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  color: #ababab;
}

.input::placeholder {
  color: #ababab;
  font-size: 12px;
}

.inputIcon {
  width: 18px;
  height: 18px;
}

/* PAY BUTTON */
.payButton {
  margin: 30px auto;
  width: 97px;
  height: 26px;

  background: linear-gradient(90deg, #3129ab 0%, #1e196b 78%);
  color: white;

  border: none;
  border-radius: 30px;

  font-family: Roboto;
  font-weight: 600;
  font-size: 12px;

  cursor: pointer;
}
