.screen {
  width: 100%;
  height: 100vh;
  background: #f0f0f5;
  display: flex;
  flex-direction: column;
}

/* ---- STATUS BAR ---- */
.statusBar {
  height: 28px;
  padding: 4px 12px 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.time {
  color: #000;
}

.levels {
  height: 20px;    /* adjust size until your SVG looks correct */
}


/* top bar with search + home */
.topBar {
  height: 56px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 10;
}

.topIcon {
  width: 22px;
  height: 22px;
}

/* map area */
.mapWrapper {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pins */
.stationPin {
  position: absolute;
  top: 45%;
  left: 46%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  cursor:pointer;

}

.userPin {
  position: absolute;
  bottom: 25%;
  right: 18%;
  width: 28px;
  height: 28px;
  transform: translate(50%, 50%);
}

/* ---- SEARCH BAR + HOME ---- */
.searchRow {
  padding: 6px 12px 8px;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 5;
}

.searchBox {
    position:absolute ;
  flex: 1;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #c9c9d2;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 70px;
}

.searchIcon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
}

/* bottom filter bar */
.filterBar {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 16px;
  padding: 8px 14px;
  display: flex;
  gap: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.filterIcon {
  width: 22px;
  height: 22px;
}

.iconStack {
  position: relative;
  width: 28px;       /* size of icon group */
  height: 28px;
}

.leftIcon {
  width: 100%;
  height: 100%;
}

.rightIcon {
  position: absolute;
  width: 60%;     
  height: 60%;
  top: 4px;        
  right: -4px;    
}

/* home icon button */
.homeButton {
    position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #c9c9d2;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 90px;
  margin-left: 300px;

}

.homeButton img {
  width: 20px;
  height: 20px;
}