/* FULL PAGE */
.container {
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

/* HEADER BAR */
.header {
  width: 320px;
  height: 32px;

  display: flex;
  align-items: center;

  padding: 5px 60px 5px 19px;
  background: #ffffff;

  /* Figma shadow */
  box-shadow: 0px 1px 3.9px rgba(243, 111, 33, 0.1);
}

/* HEADER ICON */
.headerIcon {
  width: 17.88px;
  height: 12.38px;
  margin-right: 8px;
}

/* HEADER TITLE */
.headerText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #1e196b;
}

/* LOADING SECTION */
.loadingContainer {
  margin-top: 300px; /* exact placement */
  text-align: center;
}

.loadingText {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -2%;
  color: #000000;
  margin-bottom: 6px;
}

.loadingSub {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -2%;
  color: #ababab;
}
