.overlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f7;
}

/* CARD */
.topupCard {
  width: 90%;
  max-width: 360px;

  /* UPDATED TO MATCH FIGMA */
  background: #ffffff;
  border-radius: 3px;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -2%;
  color: #1e196b;
}

.closeBtn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

/* SECTIONS */
.section {
  margin-top: 16px;
}

.labelSmall {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  color: #1e196b;
  margin-right: 70%;
  margin-bottom: 6px;
}

.labelLarge {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  color: #1e196b;
  text-align: center;
  margin-bottom: 4px;
}

/* CARD BOX */
.cardBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(243, 111, 33, 0.1);
  padding: 10px 12px;
  border-radius: 10px;
}

.cardNumber {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  color: #1a1a1a;
}

.cardIcon {
  width: 36px;
}

/* AMOUNT VALUE */
.amount {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 600;
  color: #1e196b;
  text-align: center;
  margin: 12px 0 8px 0;
}

/* SLIDER */
.slider {
  width: 100%;
  accent-color: #3129ab;
}

/* BUTTON */
.topupBtn {
  width: 84px; /* exact from Figma */
  height: 26px;
  display: block;
  margin: 20px auto 0 auto;

  background: linear-gradient(90deg, #3129ab 0%, #1e196b 78%);
  color: white;

  border: none;
  border-radius: 8px;

  font-family: Roboto;
  font-weight: 600;
  font-size: 12px;

  cursor: pointer;
  text-align: center;
}
